header {
 background-color: darkslateblue;
 color: white;
 text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
}

aside {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

#searchBar {
    width: 350px;
}

#searchBtn {
    width: 350px;
}

#recent {
    display: flex;
    flex-direction: column;
}

#recent button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

hr {
    width: 350px;
}

#currentCity {
    border: 1px black solid;
}

#test {
    display: flex;
    justify-content: space-around;
}

.fiveDay {
    color: white;
    width: 150px;
    padding: 5px;
    background-color: darkslateblue;
}