section {
    display: flex;
    justify-content: space-between;
}

aside {
    border: 1px black solid;
    flex-shrink: 0;
}

main {
    border: 1px black solid;
    flex-grow: 1;
}

#searchBar {
    width: 350px;
}

#searchBtn {
    width: 350px;
}

hr {
    width: 350px;
}

#activeCity {
    border: 1px black solid;
}

#active5Day {
    border: 1px black solid;
}